[user]
	email = timstadtmann@gmail.com
	name = Tim Stadtmann

[core]
  editor = vi

[alias]
    co = checkout
    s = status
    l = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
